In [8]:
import os
import pandas as pd
import numpy as np
directory = 'e:/My/Projects/LAB/DC Reference Standard DTF 20125/Docs/csv/new_10V'
extension = '.csv'
csv_data_list = []
for filename in os.listdir(directory):
    if not filename.endswith(extension):
        continue
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        csv_data_list.append(f)

In [41]:
df_all = pd.DataFrame()
for f in csv_data_list:
    tmp = pd.read_csv(f, sep=';', names = ['Date', 'Time', 't0','t1','t2','t3','t4','t5','t6','t7','text','Uref','VAC'])
    tmp['DateTime'] = pd.to_datetime( tmp['Date'] + ' ' + tmp['Time'], dayfirst = True)
    df_all = pd.concat([df_all, tmp])
df_all.reset_index(drop=True)
df_all.sort_values(by=['DateTime'])

,Date,Time,t0,t1,t2,t3,t4,t5,t6,t7,text,Uref,VAC,DateTime
0,28.09.2023,16:00:18,24.56,24.63,24.75,24.63,24.5,24.50,24.56,24.56,-1000.0,10.094448,225.163,2023-09-28 16:00:18
1,28.09.2023,16:00:23,24.56,24.63,24.75,24.63,24.5,24.50,24.56,24.56,-1000.0,10.100579,224.355,2023-09-28 16:00:23
2,28.09.2023,16:00:28,24.56,24.63,24.75,24.63,24.5,24.44,24.56,24.56,-1000.0,10.101757,224.623,2023-09-28 16:00:28
3,28.09.2023,16:00:33,24.50,24.63,24.75,24.63,24.5,24.50,24.56,24.50,-1000.0,10.102504,224.670,2023-09-28 16:00:33
4,28.09.2023,16:00:38,24.56,24.63,24.75,24.63,24.5,24.50,24.56,24.56,-1000.0,10.103006,224.423,2023-09-28 16:00:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12859,12.10.2023,13:53:50,26.25,26.50,26.38,26.69,26.5,26.44,26.75,26.56,-1000.0,10.104809,220.007,2023-10-12 13:53:50
12860,12.10.2023,13:53:55,26.25,26.44,26.38,26.69,26.5,26.44,26.75,26.56,-1000.0,10.10481,219.880,2023-10-12 13:53:55
12861,12.10.2023,13:54:00,26.25,26.50,26.38,26.69,26.5,26.44,26.75,26.56,-1000.0,10.104809,219.729,2023-10-12 13:54:00
12862,12.10.2023,13:54:05,26.25,26.50,26.38,26.69,26.5,26.44,26.75,26.56,-1000.0,10.10481,220.460,2023-10-12 13:54:05
12863,12.10.2023,13:54:10,26.25,26.50,26.38,26.69,26.5,26.44,26.75,26.50,-1000.0,10.10481,221.240,2023-10-12 13:54:10