In [7]:
print( 'Helloo World' )

Helloo World

In [8]:
exit()

In [2]:
import pandas as pd
q = 1

In [4]:
if q == 5:
    q = 1

In [9]:
df = pd.read_csv('3rd_run_to_test.csv', sep = ';')
df

,29.09.2023,22:15:23,24.88,25.06,24.88 .1,25.06 .1,25.13,25.06 .2,25.06 .3,25.06 .4,-1000.00,0.0000014,000.927E-3
0,29.09.2023,22:15:32,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,7.000000e-07,0.000970
1,29.09.2023,22:15:37,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.400000e-06,0.000933
2,29.09.2023,22:15:42,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.009889e+01,224.522000
3,29.09.2023,22:15:47,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.010075e+01,225.976000
4,29.09.2023,22:15:52,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.010189e+01,226.383000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42489,02.10.2023,07:16:07,26.38,26.38,26.38,26.31,26.44,26.38,26.31,26.31,-1000.0,1.010478e+01,227.414000
42490,02.10.2023,07:16:12,26.38,26.38,26.38,26.31,26.38,26.38,26.31,26.31,-1000.0,1.010478e+01,228.031000
42491,02.10.2023,07:16:17,26.38,26.38,26.38,26.31,26.38,26.38,26.38,26.31,-1000.0,1.010479e+01,228.122000
42492,02.10.2023,07:16:22,26.38,26.38,26.38,26.31,26.38,26.38,26.31,26.31,-1000.0,1.010479e+01,228.304000
42493,02.10.2023,07:16:27,26.38,26.38,26.38,26.31,26.44,26.38,26.31,26.31,-1000.0,1.010479e+01,228.506000