In [1]:
import numpy as np
import pandas as pd

In [2]:
data = ['Pandas', 'Matplotlib', 'Numpy']
s = pd.Series(data)
s

0        Pandas
1    Matplotlib
2         Numpy
dtype: object

In [3]:
s= pd.Series([3, -5, 7, 4], index =['a', 'bb', 'sdf', 'c'])
s

a      3
bb    -5
sdf    7
c      4
dtype: int64

In [4]:
s.index

Index(['a', 'bb', 'sdf', 'c'], dtype='object')

In [5]:
g = {'q':1, 'p':2, 'r':3}

In [6]:
g

{'q': 1, 'p': 2, 'r': 3}

In [7]:
gs = pd.Series(g)

In [8]:
gs

q    1
p    2
r    3
dtype: int64

In [9]:
gs.dtype

dtype('int64')

In [10]:
gs.shape

(3,)

In [11]:
gs.ndim

1

In [12]:
gs.size

3

In [13]:
gs.to_numpy()

array([1, 2, 3], dtype=int64)

In [14]:
gs

q    1
p    2
r    3
dtype: int64

In [15]:
gs[1:5]

p    2
r    3
dtype: int64

gs[1:3]

In [16]:
gs[1:3]

p    2
r    3
dtype: int64

In [17]:
gs[0:2]

q    1
p    2
dtype: int64

In [18]:
gs[0:3]

q    1
p    2
r    3
dtype: int64

In [22]:
gs[gs>-7]

q    1
p    2
r    3
dtype: int64

In [23]:
gs

q    1
p    2
r    3
dtype: int64

In [25]:
gs['p']

2

In [32]:
numbers = [x for x in range(0, 10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
nnn = pd.Series(numbers)
nnn

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [35]:
nnn ** 2

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int64

In [38]:
nnn.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 212.0 bytes

In [40]:
data = [[4,7,10],[5,8,11],[6,9,12]]
df = pd.DataFrame(data)
df

   0  1   2
0  4  7  10
1  5  8  11
2  6  9  12

In [41]:
df = pd.DataFrame( data, index = ['a', 'b', 'c'], columns = ['X', 'Y', 'Z'])
df

   X  Y   Z
a  4  7  10
b  5  8  11
c  6  9  12

In [42]:
data = {'Name':['Jai', 'Prince', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 23],
        'Address':['Delphi', 'Kanpur', 'C++', 'CB'],
        'Qualification':['Msc', 'Ma', 'Mt', 'Ph.D']}
data

{'Name': ['Jai', 'Prince', 'Gaurav', 'Anuj'],
 'Age': [27, 24, 22, 23],
 'Address': ['Delphi', 'Kanpur', 'C++', 'CB'],
 'Qualification': ['Msc', 'Ma', 'Mt', 'Ph.D']}

In [43]:
df = pd.DataFrame(data)
df

     Name  Age Address Qualification
0     Jai   27  Delphi           Msc
1  Prince   24  Kanpur            Ma
2  Gaurav   22     C++            Mt
3    Anuj   23      CB          Ph.D

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           4 non-null      object
 1   Age            4 non-null      int64
 2   Address        4 non-null      object
 3   Qualification  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 260.0+ bytes

In [49]:
df.to_csv('test_csv_from_df.csv')

In [52]:
df = pd.read_csv('3rd_run_to_test.csv', sep=';', names = ['Date', 'Time', '0','1','2','3','4','5','6','7','e','Uref','VAC'])
df

,Date,Time,0,1,2,3,4,5,6,7,e,Uref,VAC
0,29.09.2023,22:15:23,24.88,25.06,24.88,25.06,25.13,25.06,25.06,25.06,-1000.0,1.400000e-06,0.000927
1,29.09.2023,22:15:32,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,7.000000e-07,0.000970
2,29.09.2023,22:15:37,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.400000e-06,0.000933
3,29.09.2023,22:15:42,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.009889e+01,224.522000
4,29.09.2023,22:15:47,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.010075e+01,225.976000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42490,02.10.2023,07:16:07,26.38,26.38,26.38,26.31,26.44,26.38,26.31,26.31,-1000.0,1.010478e+01,227.414000
42491,02.10.2023,07:16:12,26.38,26.38,26.38,26.31,26.38,26.38,26.31,26.31,-1000.0,1.010478e+01,228.031000
42492,02.10.2023,07:16:17,26.38,26.38,26.38,26.31,26.38,26.38,26.38,26.31,-1000.0,1.010479e+01,228.122000
42493,02.10.2023,07:16:22,26.38,26.38,26.38,26.31,26.38,26.38,26.31,26.31,-1000.0,1.010479e+01,228.304000
42494,02.10.2023,07:16:27,26.38,26.38,26.38,26.31,26.44,26.38,26.31,26.31,-1000.0,1.010479e+01,228.506000

In [53]:
df.describe()

,0,1,2,3,4,5,6,7,e,Uref,VAC
count,42495.000000,42495.000000,42495.000000,42495.000000,42495.000000,42495.000000,42495.000000,42495.000000,42495.0,4.249500e+04,42495.000000
mean,25.694843,25.636954,25.654242,25.569089,25.679917,25.700133,25.565134,25.617853,-1000.0,1.010406e+01,227.593281
std,0.347073,0.338003,0.367097,0.363316,0.344814,0.329948,0.395047,0.342724,0.0,8.490006e-02,6.631255
min,24.880000,24.750000,24.750000,24.560000,24.750000,24.880000,24.440000,24.750000,-1000.0,7.000000e-07,0.000927
25%,25.440000,25.380000,25.380000,25.310000,25.440000,25.440000,25.310000,25.380000,-1000.0,1.010477e+01,225.091500
50%,25.690000,25.630000,25.690000,25.560000,25.690000,25.750000,25.560000,25.630000,-1000.0,1.010477e+01,226.420000
75%,25.880000,25.810000,25.880000,25.810000,25.880000,25.880000,25.810000,25.810000,-1000.0,1.010478e+01,227.655000
max,26.940000,26.500000,27.630000,27.190000,26.880000,26.500000,27.810000,26.880000,-1000.0,1.010480e+01,255.966000

In [55]:
df.shape

(42495, 13)

In [56]:
df.ndim

2

In [57]:
df.size

552435

In [58]:
42495*13

552435

In [59]:
df.index

RangeIndex(start=0, stop=42495, step=1)

In [60]:
df.count

<bound method DataFrame.count of               Date        Time      0      1      2      3      4      5  \
0      29.09.2023    22:15:23   24.88  25.06  24.88  25.06  25.13  25.06
1      29.09.2023    22:15:32   24.88  25.06  24.94  25.06  25.13  25.06
2      29.09.2023    22:15:37   24.88  25.06  24.94  25.06  25.13  25.06
3      29.09.2023    22:15:42   24.88  25.06  24.94  25.06  25.13  25.06
4      29.09.2023    22:15:47   24.88  25.06  24.94  25.06  25.13  25.06
...            ...         ...    ...    ...    ...    ...    ...    ...
42490  02.10.2023    07:16:07   26.38  26.38  26.38  26.31  26.44  26.38
42491  02.10.2023    07:16:12   26.38  26.38  26.38  26.31  26.38  26.38
42492  02.10.2023    07:16:17   26.38  26.38  26.38  26.31  26.38  26.38
42493  02.10.2023    07:16:22   26.38  26.38  26.38  26.31  26.38  26.38
42494  02.10.2023    07:16:27   26.38  26.38  26.38  26.31  26.44  26.38

           6      7       e          Uref         VAC
0      25.06  25.06 -1000.0  1.400000e-06    0.000927
1      25.06  25.06 -1000.0  7.000000e-07    0.000970
2      25.06  25.06 -1000.0  1.400000e-06    0.000933
3      25.06  25.06 -1000.0  1.009889e+01  224.522000
4      25.06  25.06 -1000.0  1.010075e+01  225.976000
...      ...    ...     ...           ...         ...
42490  26.31  26.31 -1000.0  1.010478e+01  227.414000
42491  26.31  26.31 -1000.0  1.010478e+01  228.031000
42492  26.38  26.31 -1000.0  1.010479e+01  228.122000
42493  26.31  26.31 -1000.0  1.010479e+01  228.304000
42494  26.31  26.31 -1000.0  1.010479e+01  228.506000

[42495 rows x 13 columns]>

In [61]:
df.value_counts()

Date         Time        0      1      2      3      4      5      6      7      e        Uref       VAC
30.09.2023    11:14:49   25.38  25.38  25.38  25.31  25.44  25.44  25.31  25.31  -1000.0  10.104763  227.537    2
              11:05:54   25.31  25.31  25.31  25.25  25.38  25.38  25.31  25.31  -1000.0  10.104763  226.970    2
              11:05:24   25.38  25.31  25.31  25.25  25.38  25.38  25.31  25.31  -1000.0  10.104762  227.392    2
              11:05:29   25.31  25.31  25.31  25.25  25.38  25.38  25.31  25.31  -1000.0  10.104763  226.716    2
              11:05:34   25.38  25.31  25.31  25.25  25.38  25.38  25.31  25.31  -1000.0  10.104762  225.864    2
                                                                                                               ..
01.10.2023    18:40:24   25.38  25.25  25.19  25.13  25.25  25.31  25.00  25.19  -1000.0  10.104772  247.810    1
              18:40:29   25.38  25.25  25.19  25.13  25.25  25.31  25.06  25.19  -1000.0  10.104771  247.814    1
              18:40:34   25.38  25.25  25.19  25.13  25.25  25.31  25.06  25.19  -1000.0  10.104772  248.950    1
              18:40:39   25.38  25.25  25.25  25.13  25.25  25.38  25.06  25.19  -1000.0  10.104771  249.001    1
30.09.2023    23:59:57   25.19  25.19  25.19  25.13  25.19  25.25  25.13  25.19  -1000.0  10.104765  225.223    1
Name: count, Length: 41055, dtype: int64

In [62]:
df['Date'].value_counts()

Date
30.09.2023     18001
01.10.2023     18001
02.10.2023      5238
29.09.2023      1255
Name: count, dtype: int64

In [63]:
df['VAC'].value_counts()

VAC
226.872    21
227.191    20
227.511    20
227.316    19
226.453    19
           ..
222.818     1
222.988     1
223.108     1
220.987     1
223.786     1
Name: count, Length: 10934, dtype: int64

In [64]:
df['VAC'].nunique()

10934

In [65]:
df['Date'].nunique()

4

In [66]:
df['Date'].unique()

array(['29.09.2023 ', '30.09.2023 ', '01.10.2023 ', '02.10.2023 '],
      dtype=object)

In [68]:
df['VAC'].unique()

array([9.27000e-04, 9.70000e-04, 9.33000e-04, ..., 2.23168e+02,
       2.23503e+02, 2.23786e+02])

In [69]:
df['VAC'].apply(lambda x : x + 1000)

0        1000.000927
1        1000.000970
2        1000.000933
3        1224.522000
4        1225.976000
            ...
42490    1227.414000
42491    1228.031000
42492    1228.122000
42493    1228.304000
42494    1228.506000
Name: VAC, Length: 42495, dtype: float64

In [70]:
df

,Date,Time,0,1,2,3,4,5,6,7,e,Uref,VAC
0,29.09.2023,22:15:23,24.88,25.06,24.88,25.06,25.13,25.06,25.06,25.06,-1000.0,1.400000e-06,0.000927
1,29.09.2023,22:15:32,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,7.000000e-07,0.000970
2,29.09.2023,22:15:37,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.400000e-06,0.000933
3,29.09.2023,22:15:42,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.009889e+01,224.522000
4,29.09.2023,22:15:47,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.010075e+01,225.976000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42490,02.10.2023,07:16:07,26.38,26.38,26.38,26.31,26.44,26.38,26.31,26.31,-1000.0,1.010478e+01,227.414000
42491,02.10.2023,07:16:12,26.38,26.38,26.38,26.31,26.38,26.38,26.31,26.31,-1000.0,1.010478e+01,228.031000
42492,02.10.2023,07:16:17,26.38,26.38,26.38,26.31,26.38,26.38,26.38,26.31,-1000.0,1.010479e+01,228.122000
42493,02.10.2023,07:16:22,26.38,26.38,26.38,26.31,26.38,26.38,26.31,26.31,-1000.0,1.010479e+01,228.304000
42494,02.10.2023,07:16:27,26.38,26.38,26.38,26.31,26.44,26.38,26.31,26.31,-1000.0,1.010479e+01,228.506000

In [86]:
df['MeanTemp'] = (df['0'] + df['1'])/2
df

,Date,Time,0,1,2,3,4,5,6,7,e,Uref,VAC,MeanTemp
0,29.09.2023,22:15:23,24.88,25.06,24.88,25.06,25.13,25.06,25.06,25.06,-1000.0,1.400000e-06,0.000927,24.97
1,29.09.2023,22:15:32,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,7.000000e-07,0.000970,24.97
2,29.09.2023,22:15:37,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.400000e-06,0.000933,24.97
3,29.09.2023,22:15:42,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.009889e+01,224.522000,24.97
4,29.09.2023,22:15:47,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.010075e+01,225.976000,24.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42490,02.10.2023,07:16:07,26.38,26.38,26.38,26.31,26.44,26.38,26.31,26.31,-1000.0,1.010478e+01,227.414000,26.38
42491,02.10.2023,07:16:12,26.38,26.38,26.38,26.31,26.38,26.38,26.31,26.31,-1000.0,1.010478e+01,228.031000,26.38
42492,02.10.2023,07:16:17,26.38,26.38,26.38,26.31,26.38,26.38,26.38,26.31,-1000.0,1.010479e+01,228.122000,26.38
42493,02.10.2023,07:16:22,26.38,26.38,26.38,26.31,26.38,26.38,26.31,26.31,-1000.0,1.010479e+01,228.304000,26.38
42494,02.10.2023,07:16:27,26.38,26.38,26.38,26.31,26.44,26.38,26.31,26.31,-1000.0,1.010479e+01,228.506000,26.38

In [87]:
df.sum()

Date        29.09.2023 29.09.2023 29.09.2023 29.09.2023 29...
Time         22:15:23  22:15:32  22:15:37  22:15:42  22:15...
0                                                  1091902.34
1                                                  1089442.34
2                                                  1090177.02
3                                                  1086558.44
4                                                  1091268.08
5                                                  1092127.15
6                                                  1086390.39
7                                                  1088630.66
e                                                 -42495000.0
Uref                                            429371.974356
VAC                                             9671576.47583
MeanTemp                                           1090672.34
dtype: object

In [95]:
df['Uref'].max(), df['Uref'].min(), df['Uref'].mean()

(10.104803, 7e-07, 10.10405869762325)

In [114]:
df[(df['VAC'] < 218) & (df['VAC'] > 217.9)]['Uref'].count()

5

In [116]:
df.groupby(['VAC'])['Uref'].agg(np.mean)

C:\Temp\ipykernel_3492\294665246.py:1: FutureWarning: The provided callable <function mean at 0x0000023A5C2F0CC0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby(['VAC'])['Uref'].agg(np.mean)

VAC
0.000927      1.400000e-06
0.000933      1.400000e-06
0.000970      7.000000e-07
215.895000    1.010476e+01
216.106000    1.010476e+01
                  ...
255.693000    1.010479e+01
255.708000    1.010479e+01
255.756000    1.010480e+01
255.825000    1.010479e+01
255.966000    1.010476e+01
Name: Uref, Length: 10934, dtype: float64

In [117]:
df

,Date,Time,0,1,2,3,4,5,6,7,e,Uref,VAC,MeanTemp
0,29.09.2023,22:15:23,24.88,25.06,24.88,25.06,25.13,25.06,25.06,25.06,-1000.0,1.400000e-06,0.000927,24.97
1,29.09.2023,22:15:32,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,7.000000e-07,0.000970,24.97
2,29.09.2023,22:15:37,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.400000e-06,0.000933,24.97
3,29.09.2023,22:15:42,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.009889e+01,224.522000,24.97
4,29.09.2023,22:15:47,24.88,25.06,24.94,25.06,25.13,25.06,25.06,25.06,-1000.0,1.010075e+01,225.976000,24.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42490,02.10.2023,07:16:07,26.38,26.38,26.38,26.31,26.44,26.38,26.31,26.31,-1000.0,1.010478e+01,227.414000,26.38
42491,02.10.2023,07:16:12,26.38,26.38,26.38,26.31,26.38,26.38,26.31,26.31,-1000.0,1.010478e+01,228.031000,26.38
42492,02.10.2023,07:16:17,26.38,26.38,26.38,26.31,26.38,26.38,26.38,26.31,-1000.0,1.010479e+01,228.122000,26.38
42493,02.10.2023,07:16:22,26.38,26.38,26.38,26.31,26.38,26.38,26.31,26.31,-1000.0,1.010479e+01,228.304000,26.38
42494,02.10.2023,07:16:27,26.38,26.38,26.38,26.31,26.44,26.38,26.31,26.31,-1000.0,1.010479e+01,228.506000,26.38

In [ ]:
df

In [ ]:
df['VAC'].plot()